html {
    height: 100%;
    background-color: #96b4ff;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}  

ul > li {
    display: inline-block;
    zoom: 1;
}

.connection-space {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg {
    position: absolute;
}

.parent {
    position: relative;
    min-height: 100%;
    pointer-events: none;
}

.link-space {
    position: absolute;
    width: calc(100%);
    height: auto;
    font-size: 15px;
    text-align: center;
    bottom: calc(50% - 30px);
}

.branch:hover {
    stroke: #876748;
}

.link-div {
    display: block;
    width: 50px;
    height: 50px;
}

.link-leaf {
    display: block;
    background-color: #2cb84b;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.link-leaf i {
    position: relative;
    top: 15px;
}

a {
    text-decoration: none;
}

.link-leaf:hover {
    background-color: #54bf6c;
}

.button {
    background-color: #2cb84b;
    border: none;
    outline: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    pointer-events: auto;
}

.button:hover {
    background-color: #54bf6c;
}

.rectangle {
    position: absolute;
    height: 30%;
    width: 40px;
    bottom: 20%;
    left: 50%;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #755331;
}

.ground {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    background-color: #2cb84b;
}

#my-text-field {
    position: absolute;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5vw;
    width: 80%;
    height: 10%;
    bottom: 5%;
    left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 999px;
    border: none;
    outline: none;
}