html {
    height: 100%;
    background-color: #96b4ff;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
    min-height: 100%;
}

.link-space {
    position: absolute;
    width: calc(100% - 10px);
    height: auto;
    text-align: center;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.button {
    background-color: #2cb84b;
    border: none;
    outline: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #54bf6c;
}

.ground {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    background-color: #2cb84b;
}