html {
    height: 100%;
    background-color: #96b4ff;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    position: relative;
    min-height: 100%;
}

.ground {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    background-color: #2cb84b;
}