html {
    height: 100%;
    background-color: #96b4ff;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}  

ul > li {
    display: inline-block;
    zoom: 1;
}

.connection-space {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg {
    position: absolute;
}

.parent {
    position: relative;
    min-height: 100%;
}

.link-space {
    position: absolute;
    width: calc(100%);
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75vw;
    text-align: center;
    bottom: calc(50% - 30px);
}

.link-leaf {
    background-color: #2cb84b;
    width: 110px;
    height: 55px;
    border-radius: 999px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    vertical-align: middle;
    line-height: 60px;
}

a {
    padding-left: 27.5px;
    text-decoration: none;
}

.link-leaf:hover {
    background-color: #54bf6c;
}

.button {
    background-color: #2cb84b;
    border: none;
    outline: none;
    color: white;
    padding: 15px 15px;
    border-radius: 999px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #54bf6c;
}

.rectangle {
    position: absolute;
    height: 30%;
    width: 2%;
    bottom: 20%;
    left: 50%;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #755331;
}

.ground {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    background-color: #2cb84b;
}

#my-text-field {
    position: absolute;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5vw;
    width: 60%;
    height: 10%;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 999px;
    border: none;
    outline: none;
}