<html>
    <head>
        <title>Forget It</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel='icon' href='../static/images/favicon.ico' type='image/x-icon'/ >
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <svg class='connection-space' id='connection-space'></svg>
        <div class='parent'>
            <div class="rectangle"></div>
            <div class='link-space'>
                <ul id='0'>
                </ul>
                <div style='height: calc(10vh - 70px);'></div>
                <p id='p0' style='color: white; display: inline-block; padding: 0; margin: 0; cursor: pointer;'>Main</p>
                <div id='div0' style='display: block;'>
                    <button class='button' id='d0'>
                        <i class='fas fa-folder-plus'></i>
                    </button>
                    <button class='button' id='l0'>
                        <i class='fas fa-link'></i>
                    </button>
                </div>
            </div>
            <div class='ground'></div>
            <input type="text" id='my-text-field'>
        </div>
        <div class='info'>
            <p>Created by Riley Fitzpatrick</p>
            <div>
                <a href="https://github.com/rfitz123">
                    <i class='fab fa-github'></i>
                </a>
                <a href="https://twitter.com/rrfitz123">
                    <i class='fab fa-twitter'></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100011765387738">
                    <i class='fab fa-facebook-square'></i>
                </a>
            </div>
        </div>
        <script type="text/javascript" src="../static/scripts/script.js"></script>
    </body>
</html>